.page {
  background-color: var(--system-backgrounds-base-primary);
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.mainContainer {
  /* display: flex; */
  /* flex: 1; */
}

.mainHeader{
  display: flex;
  flex-direction: row;
}
